/* Error pages (shown when exceptions are triggered in production)
/* ------------------------------------------------------------------------- */
body.error .error-message {
    max-inline-size: 500px;
    min-block-size: 400px;
    padding: var(--ea-sp-22) var(--ea-sp-8);
}
@media (min-width: 992px) {
    body.error .error-message {
        padding: var(--ea-sp-22);
    }
}
body.error .error-message h1 {
    color: var(--color-danger);
    display: flex;
    align-items: center;
    font-size: var(--font-size-lg);
    font-weight: var(--heading-font-weight);
    margin-block-end: 1em;
}
body.error .error-message h1 .icon {
    margin-inline-end: var(--ea-sp-3);
    line-height: var(--line-height-none);
    font-size: 110%;
}
