{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% set files = field.formattedValue %}
{% if files is not iterable %}
    {% set files = [files] %}
{% endif %}

{% for file in files %}
    <a href="{{ asset(file) }}">
        {{ file }}
    </a>
{% endfor %}
